.start-stop {
  .name {
    color: black;
    font-weight: bold;
    text-align: center;
    transform: translateY(0.8rem);
  }
  .buttons-container {
    display: flex;
    justify-content: space-around;
    width: 15.5rem;
  }
  .tempo-swing {
    width: 13.5rem;
    margin-left: 0.8rem;
    margin-bottom: 1rem;
  }
  input[type='range'] {
    height: 28px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: #00000000;
  }
  input[type='range']:focus {
    outline: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #383838;
    border-radius: 0px;
    border: 0px solid #010101;
    border-radius: 10px;
  }
  input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 2px solid #0d0d0d;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #dbdbdb;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type='range']:focus::-webkit-slider-runnable-track {
    background: #383838;
  }
  input[type='range']::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #383838;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 2px solid #0d0d0d;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #dbdbdb;
    cursor: pointer;
  }
  input[type='range']::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type='range']::-ms-fill-lower {
    background: #383838;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type='range']::-ms-fill-upper {
    background: #383838;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type='range']::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000031;
    border: 2px solid #0d0d0d;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #dbdbdb;
    cursor: pointer;
  }
  input[type='range']:focus::-ms-fill-lower {
    background: #383838;
  }
  input[type='range']:focus::-ms-fill-upper {
    background: #383838;
  }
}

.triangle-container,
.play-triangle,
.pause-container,
.pause-button {
  cursor: pointer;
  transition: all 0.5s ease;
}
.triangle-container,
.pause-container {
  background: linear-gradient(-45deg, #ededed, #d2d2d2);
  padding: 0.6rem;
  border-radius: 0.2rem;
  margin-top: -1rem;
  &:hover {
    // background: rgba(235, 235, 235, 0.66);
    .play-triangle {
      background: rgb(169, 14, 14);
    }
    .pause-button {
      background: rgb(169, 14, 14);
    }
  }
}
.play-triangle {
  clip-path: polygon(100% 50%, 0% 100%, 0 0);
  width: 4rem;
  height: 4rem;
  background: rgb(220, 19, 19);
}
.playing {
  background: rgba(141, 141, 141, 0.692) !important;
}

.pause-button {
  width: 4rem;
  height: 4rem;
  background: rgba(92, 92, 92, 0.678);

  clip-path: polygon(
    39% 0,
    1% 0%,
    0% 100%,
    39% 100%,
    39% 50%,
    61% 50%,
    61% 100%,
    100% 100%,
    100% 0,
    61% 0,
    61% 50%,
    39% 50%
  );
}
.paused-true {
  background: rgba(14, 14, 14, 0.214) !important;
}
.paused-false {
  background: rgb(220, 19, 19);
}
