.auth {
  height: 30rem;
  background: rgb(215, 215, 215);
  width: 40rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 2px;
  position: relative;
  text-align: center;

  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    background: #222;
    transition: all 0.15s ease;
    cursor: pointer;
    clip-path: polygon(
      20% 0%,
      0% 20%,
      30% 50%,
      0% 80%,
      20% 100%,
      50% 70%,
      80% 100%,
      100% 80%,
      70% 50%,
      100% 20%,
      80% 0%,
      50% 30%
    );
    &:hover {
      background: rgb(161, 18, 18);
    }
  }

  .register,
  .login {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .title {
    font-size: 4rem;
    letter-spacing: 0.3rem;
  }

  button {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  input {
    width: 22rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    padding: 0.3rem;
  }
  button,
  input {
    margin-top: 0.5rem;
  }

  .default-user-login {
    height: 5.6rem;
    background: rgba(255, 255, 255, 0.453);
  }

  .signup-btn,
  .signin-btn {
    background: rgba(238, 238, 238, 0);
    border: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .login-btn,
  .register-btn {
    background: rgb(59, 59, 59);
    color: white;
    font-size: 2rem;
    &:hover {
      background: #222;

      color: rgb(235, 63, 63);
    }
  }
}
