.reverb-control {
  background: rgba(0, 0, 0, 0.296);
  backdrop-filter: invert(1) blur(2px);
  width: 27rem;
  height: 26rem;
  z-index: 5;
  color: white;

  .range-input {
    transform: rotate(-90deg) translateY(3rem) translateX(2.5rem);
  }
}
