.pingpong-senders {
  max-width: 42rem;
  .reverb-name {
    text-align: center;
    color: rgb(235, 235, 235);
    transform: translateY(12.5rem) translateX(-50%);
    margin-left: 50%;
    width: 7rem;
  }
}
