.preset-dropdown {
  position: absolute;
  left: 50%;
  width: 23.6rem;
  transform: translateX(-50%);
  transition: all 0.4s ease;
  background: rgb(175, 24, 24);
  border: 2px solid rgb(175, 24, 24);
  border-top: none;
  overflow-y: scroll;
  border-radius: 4px;
  max-height: 14rem;
  overflow-y: scroll;

  .preset-name {
    border-radius: 2px;
    background: #c2c2c2;
    transition: all 0.2s ease;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;

    &:hover {
      background: rgb(59, 59, 59);
      color: rgb(235, 63, 63);
    }
  }

  .current-active-preset {
    background: rgb(59, 59, 59);
    color: #ddd;
  }
}
