.presets {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 2px;
  position: absolute;
  right: 1rem;
  bottom: 7rem;
  height: 11rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 13rem;
  align-items: center;
  padding-top: 0.4rem;

  button {
    width: 12rem;
    font-size: 1rem;
  }
  .preset-op-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13rem;
    height: 6rem;
    input {
      width: 11.2rem;
      text-align: center;
    }
  }

  .save-over,
  .delete {
    margin-top: 1.3rem;
  }

  .err-msg {
    padding: 1rem;
  }
  .cancel {
    background: rgba(238, 238, 238, 0);
    border: none;
    color: rgb(216, 216, 216);
    width: 4rem;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
  .confirm {
    &:hover {
      color: rgb(237, 237, 237);
      background: rgb(165, 20, 20);
      border-radius: 2px;
    }
  }
}
