.mixer {
  min-height: 43rem;
  transform: translateX(-50%);
  margin-left: 50%;
  max-width: 52.5rem;
  .pan-control {
    width: 8rem;
    margin-left: 2px;
    padding-left: 0.5rem;
  }
  .range-input {
    padding-right: 14px;
  }
  .solo,
  .mute {
    margin-left: 50%;
    transform: translateY(3.6rem) translateX(-50%);
    transition: all 0.3s ease;
  }
  .solo-active {
    color: rgb(240, 213, 4);
    background: rgb(30, 30, 30);
  }
  .mute-active {
    color: rgb(196, 14, 14);
  }
}
