.distortion {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 56rem;

  .effectName {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    color: rgb(225, 225, 225);
    background: rgba(0, 0, 0, 0.6);
    padding: 0 0.6rem;
    font-size: 3rem;
    font-weight: bold;
  }
}
