.mixer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 56rem;
  backdrop-filter: invert(0.7);
  background: rgba(52, 52, 52, 0.3);
  padding: 0 0.2rem 1rem 0.2rem;

  .solo,
  .mute {
    transition: all 0.3s ease;
  }

  .soloActive {
    color: rgb(240, 213, 4);
    background: rgb(30, 30, 30);
  }

  .solo {
    padding: 0.1rem 0.8rem;
    margin-bottom: 0.1rem;

    &:hover {
      background: rgb(103, 103, 103);
    }
  }

  .mute:hover {
    color: rgb(172, 68, 68);
  }

  .muteActive {
    color: rgb(196, 14, 14);
  }

  .effectName {
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    color: rgb(225, 225, 225);
    background: rgba(0, 0, 0, 0.6);
    padding: 0 0.6rem;
    font-size: 3rem;
    font-weight: bold;
    top: 0;
  }
}
