.auth {
  height: 33rem;
  background: rgb(215, 215, 215);
  width: 40rem;
  box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  text-align: center;

  .closeBtn {
    position: absolute;
    background: none;
    top: 1rem;
    right: -1rem;
    height: 4rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      .closeBtnX {
        background: rgb(161, 18, 18);
      }
    }
  }

  .closeBtnX {
    min-height: 3rem;
    min-width: 3rem;
    background: #222;
    cursor: pointer;
    clip-path: polygon(
      20% 0%,
      0% 20%,
      30% 50%,
      0% 80%,
      20% 100%,
      50% 70%,
      80% 100%,
      100% 80%,
      70% 50%,
      100% 20%,
      80% 0%,
      50% 30%
    );
  }

  .register,
  .login {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .title {
    font-size: 4rem;
    letter-spacing: 0.3rem;
  }

  button {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 12rem;
    border-radius: 4px;
    border: none;
  }

  input {
    width: 22rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    padding: 0.3rem;
    border-radius: 4px;
    font-size: 1.8rem;
  }

  button,
  input {
    margin-top: 0.5rem;
  }

  .defaultUserLogin {
    height: 6.8rem;
    background: rgba(255, 255, 255, 0.453);
    border-radius: 4px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .alreadyHaveAccountBtn {
    width: 19rem;
  }

  .alreadyHaveAccountBtn,
  .signUpBtn {
    background: rgba(238, 238, 238, 0);
    font-size: 1.6rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .logInBtn,
  .registerBtn {
    background: rgb(59, 59, 59);
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
    transition: all 0.2s ease;

    &:hover {
      background: #222;
    }
  }
}
