.revertBtn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  opacity: 0.55;
  padding: 0.2rem 0.8rem;
  transition: all 0.2s ease;
  border-radius: 4px;
  border: none;

  &:hover {
    opacity: 1;
  }
}
