.name {
  color: #000;
  font-size: 1.4rem;
  margin-bottom: -1.3rem;
  text-align: center;
  font-weight: bold;
  margin-top: 1.1rem;
  //   background: red;
  height: 2rem;
}

.tempoAndSwing {
  width: 13.5rem;
  margin-left: 0.8rem;
  margin-bottom: 1rem;
}
