$val: 320Hz 600Hz 1kHz 3kHz 6kHz 12kHz;

$input-bw: 1.5em;
$input-h: 2.25em;
$input-bg-c: #c3b7b7;
$input-bg-ct: rgba($input-bg-c, 0);

$ruler-line-w: 0.0625em;
$ruler-line-h: 0.625em;
$ruler-line-off: ($input-bw - $ruler-line-h)/2;
$ruler-line-c: #c5b9b9;
$ruler-fs: 0.75;

$track-u: 2em;
$track-k: 6;
$track-xtra: 1em;
$track-w: $track-k * $track-u + $track-xtra;
$track-h: 0.5em;

$thumb-w: 4em;
$thumb-h: 2em;
$thumb-r: 0.75em;

@mixin track() {
  width: $track-w;
  height: $track-h;
  border-radius: 0.1875em;
  background: mix(rgba(#898586, 0.65), #e9dbdb);
}

@mixin track-focus() {
  background: #494949;
}

@mixin thumb() {
  border: none;
  width: $thumb-w;
  height: $thumb-h;
  border-radius: 0.5em;
  box-shadow: -0.125em 0 0.25em #928886, inset -1px 0 1px #fff;
  background: radial-gradient(
        #ebe1e0 10%,
        rgba(#ebe1e0, 0.2) 10%,
        rgba(#ebe1e0, 0) 72%
      )
      no-repeat 50% 50%,
    radial-gradient(#{at 100% 50%}, #e9dfde, #eae1de 71%, transparent 71%)
      no-repeat ($thumb-w - 2 * $thumb-r) 50%,
    linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%,
    radial-gradient(#{at 0 50%}, #d0c6c5, #c6baba 71%, transparent 71%)
      no-repeat $thumb-r 50%,
    linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%,
    linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
  background-size: 1.1 * $thumb-r 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  cursor: default;
  font-weight: 400;
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}

button {
  outline: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

input:focus {
  outline-color: rgba(205, 38, 38, 0.644);
}

.flex {
  display: flex;
}

.center {
  transform: translateX(-50%);
  margin-left: 50%;
}

.controller {
  width: 100%;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  color: rgb(225, 225, 225);
  position: relative;

  .inst {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .name {
      text-align: center;
      color: rgb(233, 233, 233);
      width: 6.6rem;
      background: rgba(21, 21, 21, 0.8);
      border-radius: 2px;
      font-size: 1.3rem;
      padding: 0.2rem 0rem;
      font-weight: bold;
    }
  }
}

.input-container {
  min-height: 22rem;
  width: 2.3rem;
  padding-left: 1px;
}

.range-input {
  transform: rotate(-90deg) translateX(-10rem) translateY(-10rem);
  &,
  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  align-self: center;
  border: solid $input-bw transparent;
  padding: 0;
  width: 22rem;
  height: 2.3rem;
  background: repeating-linear-gradient(
        90deg,
        $ruler-line-c,
        $ruler-line-c $ruler-line-w,
        transparent $ruler-line-w,
        transparent $track-u
      )
      no-repeat 50% $ruler-line-off border-box,
    repeating-linear-gradient(
        90deg,
        $ruler-line-c,
        $ruler-line-c $ruler-line-w,
        transparent $ruler-line-w,
        transparent $track-u
      )
      no-repeat 50% $ruler-line-off + $input-h + $input-bw border-box,
    linear-gradient(90deg, $input-bg-ct, $input-bg-c, $input-bg-ct) no-repeat
      50% 50% border-box;
  background-size: $track-k * $track-u + $ruler-line-w $ruler-line-h,
    $track-k * $track-u + $ruler-line-w $ruler-line-h, 100% $input-h;
  font-size: 1em;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    position: relative;
    @include track();
  }
  &::-moz-range-track {
    @include track();
  }
  &::-ms-track {
    border: none;
    @include track();
    color: transparent;
  }

  &::-ms-fill-lower {
    display: none;
  }

  &::-webkit-slider-thumb {
    margin-top: ($track-h - $thumb-h)/2;
    @include thumb();
  }
  &::-moz-range-thumb {
    @include thumb();
  }
  &::-ms-thumb {
    @include thumb();
  }

  &::-webkit-slider-runnable-track,
  #track {
    &:before,
    &:after {
      position: absolute;
      font: #{$ruler-fs * 1em}/#{3 * $track-u/$ruler-fs} trebuchet ms, arial,
        sans-serif;
    }
    &:before {
      top: 50%;
      right: 100%;
      transform: translate(50%, -50%) rotate(90deg) translate(0, 32%);
    }
    &:after {
      left: 50%;
      width: 3em;
      word-spacing: 1em;
    }
  }

  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      &::-webkit-slider-runnable-track,
      #track {
        &:before {
          content: '#{nth($val, $i)}';
        }
        &:after {
          @if $i == 1 {
            bottom: 100%;
            transform: translate(-50%, 50%)
              rotate(90deg)
              translate(-$input-bw - $input-h - $ruler-line-h);
            text-align: right;
          }
          @if $i == 6 {
            top: 100%;
            transform: translate(-50%, -50%)
              rotate(90deg)
              translate($input-bw + $input-h + $ruler-line-h);
          }
        }
      }
    }
  }

  &:nth-of-type(1),
  &:nth-of-type(6) {
    &::-webkit-slider-runnable-track,
    #track {
      &:after {
        content: '+18 0 -18';
      }
    }
  }

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      @include track-focus();
    }
    &::-moz-range-track {
      @include track-focus();
    }
    &::-ms-track {
      @include track-focus();
    }
  }
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  backdrop-filter: blur(2px);
  top: 0;
  right: 0;
  z-index: 10;
}

.active {
  background: rgb(148, 35, 35) !important;
}

.Toastify__toast-container {
  font-size: 16px;
}

.Toastify__progress-bar {
  background: rgb(116, 34, 34) !important;
}

.Toastify__toast--error,
.Toastify__toast--info,
.Toastify__toast--success {
  background: rgba(228, 47, 47, 0.613) !important;
  backdrop-filter: blur(4px);
  color: rgb(255, 255, 255) !important;
  font-family: 'Source Sans Pro', sanserif !important;
  box-shadow: 7px 7px 12px #00000047 !important;
}

.Toastify__toast--info svg,
.Toastify__toast--error svg,
.Toastify__toast--success svg {
  fill: rgb(255, 255, 255);
}

.Toastify__close-button--light {
  opacity: 0.6;
}
